<div style="text-align: center">
  <div class="top-image-container col-sm-12">
    <img class='perfect-fit' ng-src="/images/gras.jpg"/>
  </div>
  <h4>{{vm.properties.labels.title}}</h4>
  <hr>
  <div class="row" style="text-align: left">
    <div ng-repeat="item in vm.portfolioItems">
      <portfolio-item item="item"></portfolio-item>
    </div>
  </div>
  <span class="btn btn-warning btn-sm" ng-click="vm.errorOne()">Error Page</span>
  <span class="btn btn-warning btn-sm" ng-click="vm.errorTwo()">Error Server</span>
  <hr>
  <h4>{{vm.properties.labels.cam_title}}</h4>
  <hr>
  <div style="max-height: 350px; overflow: hidden">
    <iframe width="100%" height="394px;"
            src="https://www.youtube.com/embed/f7Zik6F6uCs?rel=0&amp;loop&amp;autoplay=1&amp;controls=0&amp;showinfo=0"
            frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
  </div>
  <br>
</div>

