<div class="col-sm-6" style="height:100px; margin-bottom: 10px; overflow: hidden">
  <div class="col-sm-4 top-image-container">
    <img ng-src="{{item.image}}">
  </div>
  <div class="col-sm-8">
    <h4>{{item.name}}</h4>
    <p>{{item.description}}</p>
  </div>
</div>
