<div>
  <h4>{{vm.properties.labels.subTitle}}</h4>
  <hr>
  <div class="row">
    <ng-include ng-repeat="item in vm.testimonialItems"
                src="'scripts/about/testimonials/about.testimonials.item.html'">
    </ng-include>
  </div>
</div>
