<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularjsles">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <top-menu></top-menu>
    </div>

    <div class="container">
      <error-handler></error-handler>
      <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart" style="color: #abdc70;"></span> from the Feniks team</p>
      </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <!-- !DO NOT EDIT! auto-generated includes, see Gruntfile.js -->
    <!-- include: "type": "js", "files": "<%= includeSource.app.scripts %>" -->
    <script src="scripts/about/about.module.js"></script>
    <script src="scripts/about/testimonials/about.testimonials.module.js"></script>
    <script src="scripts/error/error.module.js"></script>
    <script src="scripts/home/home.module.js"></script>
    <script src="scripts/login/login.module.js"></script>
    <script src="scripts/menu/menu.module.js"></script>
    <script src="scripts/portfolio/portfolio.module.js"></script>
    <script src="scripts/shared/shared.module.js"></script>
    <script src="scripts/about/about.controller.js"></script>
    <script src="scripts/about/about.factory.js"></script>
    <script src="scripts/about/about.property.service.js"></script>
    <script src="scripts/about/testimonials/about.testimonials.controller.js"></script>
    <script src="scripts/about/testimonials/about.testimonials.directive.js"></script>
    <script src="scripts/about/testimonials/about.testimonials.property.service.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/error/error.controller.js"></script>
    <script src="scripts/error/error.directive.js"></script>
    <script src="scripts/home/home.controller.js"></script>
    <script src="scripts/home/home.property.service.js"></script>
    <script src="scripts/menu/menu.directive.js"></script>
    <script src="scripts/portfolio/item/portfolio.item.directive.js"></script>
    <script src="scripts/portfolio/portfolio.controller.js"></script>
    <script src="scripts/portfolio/portfolio.factory.js"></script>
    <script src="scripts/portfolio/portfolio.property.service.js"></script>
    <script src="scripts/shared/property-service/shared.proprty-service.provider.js"></script>
    <script src="scripts/shared/shared.property.service.js"></script>
    <!-- /include -->

    <!-- endbuild -->
</body>
</html>
