<div style="text-align: center">

  <div class="top-image-container col-sm-12">
    <img class='perfect-fit' ng-src="/images/gras.jpg"/>
  </div>
  <h4>{{vm.properties.labels.title}}</h4>
  <hr>
  <p>
    <i><b>{{vm.properties.content.mainTextFirst}}</b></i> {{vm.properties.content.mainText}}
  </p>
  <hr>
    <about-testimonials valid-user-ids="vm.validUserIds"></about-testimonials>
  <hr>

</div>

